/*--Start-Login--*/
html {
	scroll-behavior: smooth;
}

body,
html {
	margin: 0;
	padding: 0;
	color: #585858;
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/*  wrapper */
.wrapper {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


button,
input,
select {
	-webkit-appearance: none;
	outline: none;
}

button,
.btn,
select {
	cursor: pointer;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}


.login-form, .signup-form {
	position: relative;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background: url(../images/bgimage.jpg) no-repeat 0px 0px;
	background-size: cover;
}

.login-form .overlay, .signup-form .overlay {
	background: linear-gradient(to right, rgba(29, 75, 174, 0.38), rgba(79, 219, 146, 0.44));
	display: grid;
	padding: 30px 0px;
	align-items: center;
	min-height: 100vh;
}

.login-form .form-section, .signup-form .form-section {
	max-width: 400px;
	margin: 20px auto;
	padding: 2rem 3rem;
	border-radius: 4px;
	box-shadow: 0px 9px 24px 5px rgba(0, 0, 0, 0.04);
	background: #fff;
}

.login-form .form-section h3, .signup-form .form-section h3 {
	font-size: 30px;
	line-height: 40px;
	color: #090909;
	text-align: center;
	margin-bottom: 32px;
	font-weight: 600;
}

.login-form .form-input, .signup-form .form-input {
	margin: 10px 0 10px 0;
	align-items: center;
	border-radius: 4px;
} 

.login-form .form-input input[type="email"],
.login-form .form-input input[type="password"],
.login-form .form-input input[type="text"],
.signup-form .form-input input[type="email"],
.signup-form .form-input input[type="password"],
.signup-form .form-input input[type="text"] {
	background: #fff;
	width: 100%;
	font-size: 16px;
	padding: 15px 20px;
	border-radius: 30px;
  border: 1px solid rgb(143, 141, 141);
}

.login-form .form-input input[type="email"]:focus,
.login-form .form-input input[type="password"]:focus,
.login-form .form-input input[type="text"]:focus,
.signup-form .form-input input[type="email"]:focus,
.signup-form .form-input input[type="password"]:focus,
.signup-form .form-input input[type="text"]:focus {
	background: #fff;
	color: #090909;
	border-radius: 30px;
  border: 1px solid #00d679;
}



.login-form .checkbox {
	width: 16px;
	height: 16px;
	color: #F5F9FC;
	background: #304659;
	float: left;
}

.login-form p.remember {
	line-height: 20px;
	color: #5a5a5a;
	font-size: 13px;
}

.login-form .forget a {
	font-size: 15px;
	margin-top: 20px;
	display: block;
	color: #5a5a5a;
	text-align: center;
}

.login-form p.signup a, .signup-form p.login a {
	font-weight: bold;
	color: #007542;
}

.login-form p.signup a:hover, .signup-form p.login a:hover {
	text-decoration: none;
}



.login-form .forget a:hover {
	text-decoration: underline;
}

.login-form p.signup {
	color: #5a5a5a;
	font-size: 15px;
	display: block;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #dcdcdc;
}

.login-form .social-icons {
	display: grid;
	grid-gap: 10px;
	align-items: center;
}

.login-form .continue {
	position: relative;
	border-top: 1px solid #eee;
	margin: 20px 0;
}

.login-form button.btn {
	opacity: 1;
	width: 100%;
	height: 50px;
	padding: 0.75px;
}

.login-form button.btn:hover, .signup-form button.btn:hover {
	opacity: 1;
  background-color: #048f53;
}

.login-form .check-remaind input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.login-form .check-remaind {
	display: block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	margin: 20px 0px 0 0;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.login-form .check-remaind input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.login-form .checkmark {
	position: absolute;
	top: 0px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #E1E9F0;
}

.login-form .ccheck-remaind:hover input~.checkmark {
	background-color: #00d679;
}

.login-form .check-remaind input:checked~.checkmark {
	background-color: #00d679;
}

.login-form .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.login-form .check-remaind input:checked~.checkmark:after {
	display: block;
}

.login-form .check-remaind .checkmark:after {
	left: 6px;
	top: 3px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.theme-button {
  transition: 0.3s ease-out;
	display: inline-block;
	line-height: 52px;
	font-weight: 700;
	font-size: 14px;
	margin: 0px;
	padding: 0px 30px;
	text-transform: uppercase;
	border: none;
	background-color: #00d679;
	color: #fff;
	border-radius: 30px;
	margin-top: 20px;
}

.text-center {
  margin: 25px;
  text-align: center !important; 
  font-size: 15px;
  color: #5a5a5a;}

.social li {
  display: inline;
}

.d-flex {
  display: flex !important; }

.signup-form p.login {
	color: #5a5a5a;
	font-size: 15px;
	margin: 0px auto 15px auto;
	text-align: center;
}

.signup-form .btn {
  margin-left: 85px;
}

/*--End-Login & Sign Up--*/
